.selProjectContainer {
  display:flex;
  flex-direction: column;
  margin-top: 152px;
  padding-top: 20px;
  background-color:#110030;
  margin-right: 15px ;
}

.singleSelProjectContainer {
  display:flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  margin-left: 230px;
}

.selProject {
  min-width: 60%;
  margin: 4%;
  border-radius: 10px;
  border: 1px solid rgb(1, 0, 6);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.selProject img {
  height: 30px;
  width: 30px;
}

.selProjectMembers {
  background-color: rgb(26, 15, 83);
  margin: 3%;
  border-radius: 10px;
  border: 1px solid rgb(1, 0, 6);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.selProjectMembers .botonRegister{
  width: fit-content;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
}

.selProjectMembers .singleMemberContainer{
  justify-content: space-between;
}

.selProjectMembers #memberElementTitle{
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.selProjectMembers #memberElementName{
  margin-left: 30px;
  color: aliceblue;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  background-color: #eee5e5;
  color: rgb(8, 1, 17);
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
  padding-left: 2%;
  padding-right: 2%;
}

.projectSection {
  margin-right: 5px;
}

.projectContainer h3 {
  margin-top: -10px;
  font-weight: 700;
}

.projectContainer #projectDesc {
  width: 350px;
  height: 45px;
  font-weight: 600;
  font-size:medium;
  overflow-y: auto;
  border-bottom: solid #110030 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.projectContainer #projectTitle {
  padding-left: 20px; 
}

.projectContainer #projectAccount {
  padding-right: 20px; 
}

.projectContainer h4 {
  font-weight: 400;
}

.tasksContainer {
  display:flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  margin-left: 280px;
  margin-right: 40px;
  padding-top: 20px;
  border: 3px solid;
  border-color: rgb(20, 12, 60);
  border-radius: 20px;
  overflow-y: scroll;
  height: 210px;
  margin-bottom: 30px;
}

.singleTask {
  display: flex;
  flex-direction: row;
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(to right, #2c294b, #27235e);
  color: #110030;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  width: 87%;
  justify-content: space-between;
  align-items:center;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px;
}

#task-name {
  border-radius: 50px;
  border-radius: 10px;
  padding:10px;
  color:#dbd9df;
  text-wrap: nowrap;
}

#task-status {
  border-radius: 50px;
  height: 20px;
  text-wrap: nowrap;
}

#task-desc {
  font-weight: 600;
  border-radius: 50px;
  padding: 10px;
  border-radius: 10px;
  color: #dbd9df;
  white-space-collapse:collapse;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 70px;
}

.reviewProject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviewProject #reviewProjectTitle {
  flex-grow: 1;
  text-overflow: ellipsis;

}

.reviewProject #addTask {
  background-color: #eee5e5;
  color: #110030;
  border-radius: 10px;
  line-height: 35px;
  height: 40px;
  border: solid 1px rgb(255, 255, 255);
  cursor: pointer;
  right: 0;
}

@media screen and (max-width: 1350px) {
  .singleSelProjectContainer {
    flex-direction: column;
    max-width: 80vw; /* por si algún día  queiro que la pantalla de movil se vea bien*/
  }

  .selProjectMembers {
    margin: auto;
    min-width: 60%;
    margin-bottom: 25px;
  }

  .tasksContainer {
    margin-left: 250px;
  }

}

@media screen and (max-width: 750px) {

  .selProjectMembers {
    margin: auto;
    width: 87%;
    margin-bottom: 25px;
  }

  .tasksContainer {
    margin-left: 245px;
  }

}