.reviewsContainerInfo {
  display:flex;
  flex-direction: column;
  margin-top: -20px;
  margin-right: 15px ;
}

.codeContent {
  width: 84%;
  max-width: 75%;
  margin: 3%;
  margin-left: 40px;
  border-radius: 10px;
  outline: solid #091e2c;
}

.codeContentCommit {
  width: 100%;
  margin: 3%;
  margin-top: -5%;
  margin-left: 40px;
  border-radius: 10px;
  outline: solid #091e2c;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: rgb(26, 15, 83);
  border: 2px solid rgb(11, 6, 41);
  width: 27%;
  max-height: 350px;
  margin-left: -40px;
  padding-top: 10px;
}

.commentsContainerDiff {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(26, 15, 83);
  border: 2px solid rgb(11, 6, 41);
  width: 27%;
  max-height: 350px;
  margin: auto;
  margin-left: 45%;
  margin-bottom: 2%;
  padding-top: 10px;
}

#commentInput {
  width: 88%;
}

#text1 {
  border: 2px solid #dc343c;
}

#text2 {
  border: 2px solid lightgreen;
}

.formInput {
  border-top: solid #160e5c;
}

.singleReviewInfo {
  width: 60%;
  margin: 3%;
  margin-left: 40px;
  border-radius: 10px;
  background-color: rgb(26, 15, 83);
  border: 1px solid rgb(1, 0, 6);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s;
}

.commentContent {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  height: 90%;
  overflow-y: auto;
  margin-left: 5px;
}

.commentary-wrapper {
  display: flex;
  margin-right: 5px;
}

.commentary-wrapperMine {
  justify-content: flex-end;
}

.commentary {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 6px 8px;
  background-color: #201863;
  outline: solid #170d4e;
  border-radius: 6px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.commentaryMine {
  font-size: 14px;
  margin-bottom: 8px;
  padding: 6px 8px;
  background-color: #0c3f61;
  outline: solid #170d4e;
  border-radius: 6px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.commentUser {
  color:rgb(153, 153, 153);
  font-weight: bold;
}

.commentMessage {
  color:antiquewhite;
}

.commentDate {
  font-size: 11px;
  font-weight: bold;
  color:rgb(153, 153, 153);
  justify-content: center;
  align-self: flex-end; /* Alinea la fecha al extremo derecho */
  margin-top: auto; /* Empuja la fecha hacia abajo */
}

.codeAndComments {
  display: flex;
  flex-direction: row;
}

.codeAndCommentsVertical {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1350px) {
  .codeContent {
    width: 83%;
  }

}

@media screen and (max-width: 1050px) {
   
  .codeAndComments {
    display: flex;
    flex-direction: column;
  }

  .commentsContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(26, 15, 83);
    border: 1px solid rgb(1, 0, 6);
    max-width: 62%;
    width: 100%;
    max-height: 350px;
    margin: auto;
    margin-left: 270px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .commentsContainerDiff {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(26, 15, 83);
    border: 2px solid rgb(11, 6, 41);
    max-width: 62%;
    width: 100%;
    max-height: 350px;
    margin: auto;
    margin-left: 270px;
    margin-right: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 10px;
  }
}

@media screen and (max-width: 750px) {
  .commentsContainer {
    max-width: 52%;
    width: 100%;
  }

  .commentsContainerDiff {
    max-width: 52%;
    width: 100%;
  }
}