.topMenuContainer {
  display: flex;
  flex-direction: row;
  margin-top: 102px;
  background-color: aliceblue;
  position: fixed;
}

.topmenu {
  display: flex;
  flex-direction: row;
  max-width: 75vw;
  background-color:rgb(20, 12, 60);
  height: 52px;
  overflow: auto;
  font-size: large;
  font-weight: bold;
  scrollbar-width: thin;
}

.topmenu::-webkit-scrollbar {
  width: 2px;
}

.topmenuSection {
  padding: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #eee5e5;
  border-radius: 20px 20px 0 0; 
  cursor:pointer;
  border: 1px solid rgb(1, 0, 6);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.fillTopMenu {
  width: 230px;
  background-color:rgb(20, 12, 60);
}

.fillTopMenuRight {
  width: 50vw;
  background-color:rgb(20, 12, 60);
  height: 52px;
}

.topmenu .topmenuSection:hover {
  background-color: #dad5d5;
  color: white;
}

#selected {
  background-color: #110030;
  color: white;
  border-bottom: hidden;
}